
html,body{
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=gothic light');


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.jumbotron{
    background: url("JShome3.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 600px; 
}

.jumbotron-about {
    background: url("whoIam.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 600px; 

}
.jumbotron-service {
    background: url("Services/jumboservices.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 600px; 

}


.contactus {
    background: url("Contact/jumbocontact.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 600px;
}


  .service {
      background-color:#4D818C;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-top: -3%;
    
  }

.service h3 {
    padding-bottom: 40px;
}

.service p {
    padding-bottom: 40px;
}

.navbar {
    border-bottom: #012336 1px solid;
}

footer {
    border-top: #012336 1px solid;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: white;
}

.footer {
    text-align: center;
    font-size: 14px; 
}


.fa {
    width: 30px;
    text-align: center;
    color: black;
  }
  

  .social-links {
    font-size: 25px;
  }
    

  .social-links p {
      font-size: 10px; 
  }


  a {
    color: black; 
  }


.btn {
    color: white;
    background-color: #012336;
}


.btn {
	border-radius: 40px;
}


.btn:hover {
	box-shadow: 0 4px #F0CE0F;
	top: 2px;
}

.btn-2g:active {
	box-shadow: 0 0  #012336;
	top: 6px;
}


.reasons .btn {
    color:  #012336;
    background-color: #F0CE0F;  
    border-radius: 10;
    margin-top: 10px;
    margin-bottom: 80px;
}

.reasons .btn:hover {
	box-shadow: 0 4px #012336;
	top: 2px;
}

.background {
    background-color:  #D4E0E3;
    margin-top: 0%;
}

.background .btn {
    color:  #012336;
    background-color: #F0CE0F;  
    border-radius: 10;
    margin-top: 10px;
}

.background .btn:hover {
	box-shadow: 0 4px #012336;
	top: 2px;
}

.reasons {
    padding-top: 30px;
    padding-bottom: 150px;
    text-align: center;
}


h3, p, h4, h5, dl {
    font-family: gothic light; 
    font-weight: bold;
}

h3 {
   font-size: 45px; 
   text-align: center;
   padding-bottom: 20px;
}

p{
    font-size: 25px;
    text-align: center;
}

h4 {

    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 .logofooter {
    width:200px;
    height: 200px; 
    position: relative; 

 }

 .qualities {
    background-color: #4D818C;
    padding-bottom: 50px;
    margin-top: 5%;
 }

 .mission {
    background-color: #4D818C;
    padding-top: 60px; 
    padding-bottom: 60px;
    margin-bottom: 0%;
    text-align: center;
}


.background, p {
    font-size: 16px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 30px;
}

.background .btn {
    background-color: #F0CE0F;
    color: #012336; 
    margin-bottom: 40px;
}

.studies {
    padding-bottom: 60px;
    padding-top: 80px;
}

.studies h1 {
    padding-bottom: 40px;
    font-family: gothic light;
    font-weight: bold;
}

.studies h5 {
    font-size: 30px;
}

.card-text {
    font-size: 17px;
    font-weight: unset;
}

.whoiam {
    padding-top: 30px;
    margin-bottom: -50px;
    background-color:  #D4E0E3;
}

.accounting {
    background-color: #8BADB4;
    padding-top: 30px; 
    padding-bottom: 45px;
    margin-bottom: 4%;
}



.financial {
    background-color: #8BADB4;
    padding-top: 30px; 
    padding-bottom: 45px;
    margin-bottom: 0%;
}


.taxation {
    padding-top: 20px; 
    padding-bottom: 40px;
}

.taxone {
    padding-top: 120px;
}

.form {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
}

.option{
    padding-top: 50px; 
}

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .contact {
        padding-top: 30px;
        background-color: #4D818C;
    }

/*ADAPT TO SMALLER SCREENS*/

/* #### Mobile Phones Portrait #### */
@media screen and (max-width: 480px) and (orientation: portrait){
     
.jumbotron{
    background: url("Home/smallhome.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 400px; 
}

.jumbotron-about {
    background: url(About/miniWhoiam.jpg); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 400px; 

}

.jumbotron-service {
    background: url("Services/minijumboservies.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 400px; 
    
}

.contactus {
    background: url("Contact/minicontactus.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 400px;
}

    .container text-center{
        min-width: 80%; 
        max-width: 100%; 
        }

    .service {
            margin-top: -9%;
        }
     
    .reasons h3 {
        font-size: 30px; 
     }

    .reasons .bulb {
       display: none;
     }

     .service .btn {
         margin-bottom: 40px;

     }

     .reasons {
         padding-bottom: 20px;
     }
             
    }

    /* #### Mobile Phones Landscape #### */
    @media screen and (max-width: 640px) and (orientation: landscape){
    
.jumbotron{
        background: url("Home/jumboextrasmall.jpg"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover; 
        }
        

.jumbotron-about {
            background: url(About/miniWhoiam.jpg); 
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: cover; 
            height: 400px; 
        
        }
    
    .jumbotron-service {
            background: url("Services/minijumboservies.jpg"); 
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: cover; 
            height: 400px; 
            
        }

   

    .container text-center{
        min-width: 80%; 
        max-width: 100%; 

    }

    .service {
        margin-top: -9%;
    }

    .reasons {
        padding-bottom: 20px;
    }
    
     }
    /* #### Mobile Phones Portrait or Landscape #### */
    @media screen and (max-width: 780px){
        
        .jumbotron{
            background: url("Home/jumboextrasmall.jpg"); 
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: cover; 
        }

.jumbotron-about {
    background: url(About/miniWhoiam.jpg); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 400px; 

}

.jumbotron-service {
    background: url("Services/minijumboservies.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 400px; 
    
}

.contactus {
    background: url("Contact/minicontactus.jpg"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 400px;
}
    
    .service {
        margin-top: -9%;
       }  

       .reasons {
        padding-bottom: 20px;
    }
   
   
    .reasons h3 {
        font-size: 30px; 
     }

    .reasons .bulb {
       display: none;
     }

     .service .btn {
        margin-bottom: 40px;

    }

    .background, p {
        font-size: 12px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 30px;
        justify-content: center;
        padding-left: 30px;
    }
    }
    
    /* #### iPhone 4+ Portrait or Landscape #### */
    @media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
        
    .jumbotron {
        min-width: 80%; 
        max-width: 100%; 
        }

    .service {
         margin-top: -9%;
        }

        .reasons {
            padding-bottom: 20px;
        }
    
    }
    
    /* #### Tablets Portrait or Landscape #### */
    @media screen and (min-width: 768px) and (max-width: 1024px){
        
        .jumbotron{
            background: url("Home/smallhome.jpg"); 
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: cover; 
            height: 500px; 
        }

        .reasons h3 {
            font-size: 30px; 
         }
    
        .reasons .bulb {
           display: none;
         }

         .reasons {
            padding-bottom: 20px;
        }
       
    }

    /*### iPad Pro ### */
    @media screen and (min-width: 1024px) and (max-width: 1366px) {


        .jumbotron{
            background: url("JShome3.jpg"); 
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: cover; 
            height: 500px; 
        }

        .reasons h3 {
            font-size: 30px; 
         }
    
        .reasons .bulb {
           display: none;
         }

         .reasons {
            padding-bottom: 20px;
        }


    }

    
    /* #### Desktops #### */
    @media screen and (min-width: 1024px){
    
    .jumbotron {
        min-width: 80%; 
        max-width: 100%; 
        }
    .service {
         margin-top: -9%;
        }
    
    }